<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Same height Example</title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style type="text/css">
  	.block {
  		display: block;
  		width: 20%;
  		float: left;
  		margin-right: 20px;
  		background: #cccccc;
  	}
  </style>
</head>
<body>
	<div class="same-height-component">
		<div class="same-height-target block">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non pellentesque urna. Mauris ornare cursus dapibus. Donec quis nisi condimentum, mattis sapien convallis, posuere magna. Vestibulum luctus scelerisque mauris, et mollis augue pellentesque eget. Vestibulum non tellus ligula</p>
		</div>
		<div class="same-height-target block">
			<p>Curabitur condimentum, nisi in eleifend venenatis, velit dolor vulputate augue, mattis tincidunt dui diam ac orci. Proin sollicitudin porttitor dolor, ut vehicula nibh fermentum volutpat. Quisque vulputate lacus at ultricies tempor. In malesuada purus sapien, vitae tincidunt nibh feugiat in. Aliquam maximus felis quis quam malesuada, lacinia finibus ante cursus. Sed quis accumsan lectus. Proin felis diam, malesuada aliquam vulputate id, accumsan sed elit. Mauris nec congue nibh.</p>
		</div>
		<div class="same-height-target block">
			<p>Aliquam efficitur interdum tincidunt. Nunc nulla leo, interdum at tristique vel, posuere nec turpis.</p>
		</div>
		<div class="same-height-target block">
			<p>Morbi tristique dolor ac enim efficitur, non pretium nunc fringilla. Pellentesque in lacus ac nibh vestibulum sagittis sit amet eu eros. Nam sollicitudin sed diam at blandit. Sed elit nisl, vehicula id tempus et, sagittis sit amet felis. Cras tempus ipsum sit amet sem eleifend, quis venenatis dui bibendum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ac viverra massa. In dolor nulla, dapibus sed congue ut, volutpat vulputate urna. Duis in lobortis dui. Proin consequat pretium ex ac malesuada. Nam pulvinar suscipit odio, vitae convallis turpis consequat non.</p>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 	<script src="same-height.js"></script>
</body>
</html>