.lattice-checkbox-wrapper {
	font-size: 1.6rem;
}
.lattice-checkbox {
    background: #fff;
    border: 0.16em solid #2b59df;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    height: 1em;
    position: relative;
    -moz-transition: 0.1s ease-in all;
    -o-transition: 0.1s ease-in all;
    -webkit-transition: 0.1s ease-in all;
    transition: 0.1s ease-in all;
    width: 1em;
}
.lattice-checkbox:after {
    color: #fff;
    content: "✓";
    font-size: 0;
    left: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 0.3em;
    -moz-transition: 0.1s ease-in all;
    -o-transition: 0.1s ease-in all;
    -webkit-transition: 0.1s ease-in all;
    transition: 0.1s ease-in all;
}
.checked .lattice-checkbox {
	background: #2b59df;
	overflow: hidden;
}
.checked .lattice-checkbox:after {
	color: #fff;
	content: "✓";
	left: 0.1em;
	line-height: 0;
	font-size: 0.7em;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 0.48em;
}
.lattice-checkbox-label {
	cursor: pointer;
	font-size: 0.7em;
	display: inline-block;
	line-height: 1.4em;
	margin: 0 0.5em;
	vertical-align: top;
}

.lattice-checkbox-wrapper .lattice-disabled {
	cursor: default;
	opacity: .3;
}