.lattice-file-wrapper {
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.lattice-file-button {
    background: #2B59DF;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.7em;
    padding: 0.8em 1.6em;
    width: auto;
}

.lattice-file-button:hover {
    background: #000;
}

.lattice-file-button.disabled {
    background: #ccc;
}

.lattice-file-name {
    border: none;
    color: #ccc;
    display: inline-block;
    font-size: 0.7em;
    font-style: italic;
    padding-left: 1.6em;
}

.lattice-file-icon {
    background: green;
    color: #fff;
    display: inline-block;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    -moz-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    width: 2.6em;
}

.lattice-file-icon.active {
    height: 100%;
    opacity: 1;
}

.lattice-file-icon:after {
    content: "✓";
    font-size: 26px;
    -moz-transition: all 1s ease-in 0s;
    -o-transition: all 1s ease-in 0s;
    -webkit-transition: all 1s ease-in 0s;
    transition: all 1s ease-in 0s;
    vertical-align: middle;
}

.lattice-file-icon-image,
.lattice-file-icon-audio,
.lattice-file-icon-video {
    border-right: 1px solid #ECECEC;
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 1.6em;
    width: 1em;
}

.lattice-file-icon-audio:after,
.lattice-file-icon-image:after,
.lattice-file-icon-video:after {
    color: #2B59DF;
    font-size: 1em;
    transition: all 1s ease-in 0s;
    vertical-align: middle;
}

.lattice-file-icon-audio:after {
    content: "♫";
}

.lattice-file-icon-image:after {
    content: "I";
}

.lattice-file-icon-video:after {
    content: "V";
}
